@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');
$colour-primary: #f6f8fc;
$colour-secondary: #A1CEFF;
$colour-tertiary: #252525;

$font-body: 'Open Sans',Tahoma,Verdana,Segoe,sans-serif; 