* {
  margin: 0;
  padding: 0;
  color: #252525;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}

html {
  background-color: #f6f8fc;
}

a:link,
a:visited {
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
}
main section > * {
  margin: 5px;
}

main > * {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

img {
  object-fit: cover;
}

[class$="--mobile"],
[class*="--mobile "] {
  display: none;
}

.logo {
  padding: 5px;
  margin: 10px 10px 10px 30px;
  border-radius: 10px;
  font-size: 40px;
  text-align: right;
}

[class$="--button"],
[class*="--button "] {
  background-color: #252525;
  color: #f6f8fc;
  padding: 8px;
  border: #252525 solid 1px;
  border-radius: 8px;
  margin: 5px;
  font-weight: bold;
  letter-spacing: 0.5px;
}
[class$="--button"]:hover,
[class*="--button "]:hover {
  background-color: #f6f8fc;
  color: #252525;
  transition: 0.3s ease;
}

[class$="--underline"],
[class*="--underline "] {
  text-decoration: underline #A1CEFF solid 30%;
  text-underline-offset: 1px;
  background-color: #f6f8fc;
}

.section-title {
  font-size: 20px;
  margin: 70px 0 20px 0;
}

.icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  padding: 10px;
  border-radius: 50%;
  font-weight: bold;
  font-size: 17px;
  margin: 5px;
  background-color: #f6f8fc;
}
.icon__svg path {
  fill: #252525;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background-image: url(./images/background.png);
}
.header .nav-bar {
  background-color: #f6f8fc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 120px;
}
.header .nav-bar__link-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin-right: 20px;
}
.header .nav-bar__link {
  padding: 10px;
}
.header .splash {
  display: flex;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
}
.header .splash__text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 320px;
  background-color: #f6f8fc;
  padding: 10px;
}
.header .splash__title {
  font-size: 25px;
  opacity: 75%;
}
.header .splash__subtitle {
  font-size: 35px;
}
.header .splash__image {
  margin: 20px;
}
.header .splash__link--button {
  margin-top: 20px;
}

.menu__button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
.menu__toggle {
  display: none;
}
.menu__button, .menu__button::before, .menu__button::after {
  display: block;
  background-color: #252525;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}
.menu__button::before {
  content: "";
  margin-top: -8px;
}
.menu__button::after {
  content: "";
  margin-top: 8px;
}
.menu__toggle:checked + .menu__button-container .menu__button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}
.menu__toggle:checked + .menu__button-container .menu__button {
  background: rgba(255, 255, 255, 0);
}
.menu__toggle:checked + .menu__button-container .menu__button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

.tech-skills__skills-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.skill {
  margin: 10px;
}
.skill__svg {
  width: auto;
  height: 75px;
  margin: 5px;
}
.skill__svg path {
  fill: #A1CEFF;
}
.skill__text {
  margin: 15px;
}

.card-holder {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
}

.card {
  text-align: left;
  padding: 0 10px 0 10px;
  max-width: 320px;
}
.card__title {
  font-size: 18px;
}
.card__category {
  opacity: 75%;
  font-size: 15px;
}
.card__body {
  opacity: 90%;
}
.card__links {
  font-size: 14px;
  margin: 5px;
}

.about {
  background-color: #A1CEFF;
  background-image: url("./images/background.png");
  margin: 0;
  margin-top: 100px;
}
.about__main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.about__text-container {
  text-align: left;
  width: 30%;
  background-color: #A1CEFF;
}
.about__image--web {
  border-radius: 50%;
  margin-left: 30px;
}
.about__other {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 100px;
  margin-right: auto;
  background-color: #A1CEFF;
  max-width: 50%;
}
.about__list {
  text-align: left;
  list-style: circle;
}
.about__item {
  margin: 10px 0px 10px 0px;
}

.about > * {
  margin-top: 50px;
  margin-bottom: 50px;
}

.footer {
  display: flex;
  background-color: #252525;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}
.footer__email {
  color: #f6f8fc;
}
.footer__links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer > * {
  color: #f6f8fc;
}

@media screen and (max-width: 768px) {
  .header .nav-bar {
    height: 150px;
  }
  .header .nav-bar__link-list {
    margin-right: 30px;
    flex-direction: column;
    align-items: stretch;
  }
  .header .nav-bar__link {
    padding: 0;
  }
  .header .nav-bar__link--button {
    display: none;
  }
  .header .splash {
    margin: 100px 10px 100px 10px;
  }
  .header .splash div > * {
    margin: 50px 0 50px 0;
  }

  .tech-skills__skills-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
  }

  .card-holder {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .card {
    margin-bottom: 10px;
  }

  .about {
    background-color: #f6f8fc;
    background-image: none;
  }
  .about__main {
    flex-direction: column-reverse;
    background-color: #f6f8fc;
  }
  .about__text-container > * {
    background-color: #f6f8fc;
  }
  .about__text-container {
    width: 80%;
  }
  .about__image {
    border-radius: 0;
  }
  .about__title {
    padding: 10px 0 10px 0;
  }
  .about__other {
    background-color: #f6f8fc;
    width: auto;
    padding: 0 80px 0 80px;
    max-width: none;
  }
  .about__list {
    width: auto;
    background-color: #f6f8fc;
  }
  .about__item {
    background-color: #f6f8fc;
  }
  .about__other > * {
    background-color: #f6f8fc;
  }

  [class$="--web"],
[class*="--web "] {
    display: none;
  }

  [class$="--mobile"],
[class*="--mobile "] {
    display: block;
    margin-bottom: 30px;
  }

  .footer {
    flex-direction: column-reverse;
  }
  .footer__rights {
    visibility: hidden;
  }

  .menu__button-container {
    display: flex;
  }

  .nav-bar__link-list {
    position: absolute;
    top: 0;
    margin-top: 120px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  #menu-toggle ~ .nav-bar__link-list .nav-bar__link {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  #menu-toggle:checked ~ .nav-bar__link-list .nav-bar__link {
    height: 30px;
    padding: 5px;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .nav-bar__link-list > li a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100%;
    color: #f6f8fc;
    background-color: #252525;
  }
}