* {
  margin: 0;
  padding: 0;
  color: #252525;
  background-color: #f6f8fc;
  font-family: "Segoe UI", Arial, sans-serif;
}

a:link,
a:visited {
  text-decoration: none;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
}
header nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}
header nav ul li {
  padding: 10px;
}
header section {
  display: flex;
  align-items: center;
}
header section div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 300px;
}
header section div h2 {
  font-size: 25px;
  opacity: 75%;
}
header section div h3 {
  font-size: 35px;
}
header section img {
  margin: 20px;
}

.logo {
  padding: 5px;
  margin: 10px;
  border-radius: 10px;
  font-size: 40px;
}

.button {
  background-color: #252525;
  color: #f6f8fc;
  padding: 8px;
  border: #252525 solid 1px;
  border-radius: 8px;
  margin: 5px;
  font-weight: bold;
}
.button:hover {
  background-color: #f6f8fc;
  color: #252525;
  transition: 0.3s ease;
}

.underline, .section-title {
  text-decoration: underline #A1CEFF solid 25%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
}
main section > * {
  margin: 5px;
}

main > * {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.section-title {
  font-size: 20px;
  margin-bottom: 5px;
}

.images {
  display: flex;
  justify-content: space-evenly;
}

.skill {
  margin: 10px;
}
.skill svg {
  width: auto;
  height: 75px;
  margin: 5px;
}
.skill svg path {
  fill: #A1CEFF;
}
.skill p {
  margin: 15px;
}

.card-holder {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: minmax(100px, auto);
  gap: 30px;
}

.project-card {
  text-align: left;
}
.project-card h5 {
  font-size: 18px;
}
.project-card p {
  opacity: 90%;
}

.subtitle {
  opacity: 75%;
  font-size: 15px;
}

.project-links {
  font-size: 14px;
  margin: 5px;
}

#about {
  background-color: #A1CEFF;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0;
}
#about div > * {
  background-color: #A1CEFF;
}
#about div {
  text-align: left;
  width: 30%;
}
#about img {
  border-radius: 50%;
}

#about > * {
  background-color: #A1CEFF;
  margin: 50px;
}

footer {
  display: flex;
  background-color: #252525;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}
footer address a {
  background-color: #252525;
  color: #f6f8fc;
}

footer > * {
  background-color: #252525;
  color: #f6f8fc;
}

.icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  padding: 10px;
  border-radius: 50%;
  font-weight: bold;
  font-size: 17px;
  margin: 5px;
}
.icon svg path {
  fill: #252525;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  object-fit: cover;
}