$colour-primary: #f6f8fc;
$colour-secondary: #A1CEFF;
$colour-tertiary: #252525;

$font-body: "Segoe UI",Arial,sans-serif;

* {
  margin: 0;
  padding: 0;
  color: $colour-tertiary;
  background-color: $colour-primary;
  font-family: $font-body;
}

a:link,
a:visited{
  text-decoration: none;

}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    ul {
      list-style: none;
      display: flex;
      flex-direction: row;
      li {
        padding: 10px;
      }
    }
  }

  section {
    display: flex;
    align-items: center;
    div {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 300px;
      h2{
        font-size: 25px;
        opacity: 75%;
      }
      h3 {
        font-size: 35px;
      }
    }
    img {
      margin: 20px;
    }
  }
}

.logo {
  padding: 5px;
  margin: 10px;
  border-radius: 10px;
  font-size: 40px;
}

.button {
  background-color: $colour-tertiary;
  color: $colour-primary;
  padding: 8px;
  border: $colour-tertiary solid 1px;
  border-radius: 8px;
  margin: 5px;
  font-weight: bold;
  &:hover {
    background-color: $colour-primary;
    color: $colour-tertiary;
    transition: 0.3s ease;
  }
}

.underline {
  text-decoration: underline $colour-secondary solid 25%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
  section > *{
    margin: 5px;
  }
}

main > * {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.section-title {
  @extend .underline;
  font-size: 20px;
  margin-bottom: 5px;
}

.images {
  display: flex;
  justify-content: space-evenly;
}

.card-holder {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.project-card {
  text-align: left;
  h5 {
    font-size: 18px;
  }
  p {
    opacity: 90%;
  }
}

.subtitle {
  opacity: 75%;
  font-size: 15px;
}

.project-links {
  font-size: 14px;
  margin: 5px;
}

#about{
  background-color: $colour-secondary;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  div > * {
    background-color: $colour-secondary;
  }
  div {
    text-align: left;
  }
}

#about > *{
  background-color: $colour-secondary;
  margin: 50px;
}